.App {
  text-align: center;
  height: 100vh;
  margin-top: 200px;
}

.form-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner {
  border: 1.2px solid black;
  text-align: left;
  height: 30px;
  width: 25%;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 25%;
  
  margin: 0 auto;
  background-color: black;
  color: white;
  border: 1.2px solid black;
  box-shadow: 1px 1px 1px  darkcyan;

}

form button, form label, form input {
  margin-top: 10px;
  width: 75%;
}

label{
  text-transform: uppercase;
  
  font-weight: 600 ;
  font-size: 2rem;
}

h3 {
  margin: 0 auto;
  color: black;
}

input{
  width: ;
  border: none;
}